<div class="scroll" style="width:300%;" rv-hscroll-position="data.offset">
	<div class="scroll-item">
	     A stitch in time
	</div><div class="scroll-item" style="background-color:black;color:white;">
	     If i had a dollar
	</div><div class="scroll-item">
	     Great minds think alike
	</div>
</div>
<div class="scroll-control">
	<button rv-class-selected="data.offset | eq 0" rv-toggle="data.offset" value="0">&bullet;</button>
	<button rv-class-selected="data.offset | eq 1" rv-toggle="data.offset" value="1">&bullet;</button>
	<button rv-class-selected="data.offset | eq 2" rv-toggle="data.offset" value="2">&bullet;</button>
</div>